
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Modals
$zindex-modal: 1050;
$zindex-modal-backdrop: 1040;
$modal-dialog-margin: 1.75rem auto;
$modal-transition: all .3s ease;
$modal-content-bg: #fff;
$modal-content-border-width: 1px;
$modal-content-border-color: #F3F2EF;
$border-radius-lg: .3rem;
$modal-backdrop-bg: #000;
$modal-backdrop-opacity: 0.5;
$modal-header-padding: 1rem;
$modal-header-border-width: 1px;
$modal-header-border-color: #F3F2EF;
$modal-title-line-height: 1.5;
$modal-inner-padding: 1rem;
$modal-footer-border-width: 1px;
$modal-footer-border-color: #F3F2EF;
$modal-md: 980px;
$modal-dialog-margin-y-sm-up: 1.75rem;
$modal-sm: 500px;
$modal-lg: 960px;

// Tabs
$nav-tabs-border-width: 1px;
$nav-tabs-border-color: #ddd;
$nav-tabs-border-radius: .25rem;
$nav-tabs-link-hover-border-color: #ddd;
$nav-link-disabled-color: #6c757d;
$nav-tabs-link-active-color: #495057;
$nav-tabs-link-active-bg: #fff;
$nav-tabs-link-active-border-color: #ddd;
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1rem;
