
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@tailwind base;

// START - base styles

h1 {
	@apply text-4xl font-display font-extrabold;
}

h2 {
	@apply text-2xl font-display font-extrabold;
}

h3 {
	@apply text-xl font-display font-extrabold;
}

h4 {
	@apply text-lg font-display font-extrabold;
}

a {
	@apply text-base font-sans;
}

p {
	@apply text-base font-body leading-normal;
}

ul {
	@apply text-base font-body list-inside;
}

ol {
	@apply text-base font-body list-decimal list-inside;
}

// END - base styles

@tailwind components;

// START - components

@mixin transition($transition...) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

.button {
	@apply bg-orange-500 text-white font-sans font-extrabold no-underline rounded-full text-base py-2 px-4 shadow;
	@include transition(all .25s ease-in-out);
	&:hover {
		@apply bg-orange-300 shadow-3;
	}
	&.large {
		@apply py-4 px-8;
	}
}

.card {
	@apply bg-white p-5 rounded-lg shadow mb-8;
}

// END - components

#logo {
	height: 55px;
	width: 55px;
}

@tailwind utilities;