
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');


// Variables
@import "variables";

@tailwind base;

// START - base styles

h1, .h1 {
	@apply text-4xl font-display font-extrabold tracking-tight;
}

h2, .h2 {
	@apply text-2xl font-display font-extrabold tracking-tight;
}

h3, .h3 {
	@apply text-xl font-display font-extrabold tracking-tight;
}

h4, .h4 {
	@apply text-lg font-display font-extrabold tracking-tight;
}

h5, .h5 {
	@apply text-base font-display font-extrabold tracking-tight;
}

h6, .h6 {
	@apply text-sm font-display font-extrabold tracking-tight;
}

a {
	@apply text-base font-sans;
	&:hover {
		@apply text-light-grey;
	}
}

p>a:not(.button) {
	@apply text-base font-body underline;
	text-decoration-color: #F15B51;
	&:hover {
		@apply text-primary;
	}
}

p {
	@apply text-base font-body leading-normal;
}

ul {
	@apply text-base font-body list-inside;
}

ol {
	@apply text-base font-body list-decimal list-inside;
}

code {
	font-size: 87.5%;
	color: #e83e8c;
	word-break: break-word;
}

.headline-lead {
	@apply text-sm font-display font-medium uppercase tracking-wider;
}

td {
	@apply border border-gray-200 border-l-0 border-r-0 border-b-0 p-3;
}

// END - base styles

@tailwind components;

// START - components

@mixin transition($transition...) {
	transition: $transition;
}

.button {
	@apply bg-orange-500 text-white font-sans font-extrabold no-underline rounded-full text-base py-2 px-4 shadow;
	@include transition(all .25s ease-in-out);
	&:hover {
		@apply bg-orange-300 shadow-3;
	}
	&.btn-large {
		@apply py-4 px-8;
	}

	&.btn-secondary {
		@apply bg-plum-500;
		&:hover { @apply bg-plum-300; }
	}
	&.btn-yellow {
		@apply bg-yellow-500 text-dark-grey;
		&:hover { @apply bg-yellow-300; }
	}
	&.btn-blue {
		@apply bg-blue-500;
		&:hover { @apply bg-blue-300; }
	}
	&.btn-teal {
		@apply bg-teal-500;
		&:hover { @apply bg-teal-300; }
	}

	&.btn-add {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		@apply bg-teal-500;
		&:hover { @apply bg-teal-300; }
	}

	&.btn-delete {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}

}

.card {
	@apply bg-white p-5 rounded-lg shadow mb-8;
}

// END - components

@tailwind utilities;
